<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Person: <%= ID %></h1>
    <h2>Mensaje: <%= Msg %></h2>

    <ul>
        <% switch (Msg) { case 'Hola': %> <% for(var i=0; i < Times; i++) { %>
            <li>Hola <%= ID %></li>
            <% } %> 
            <% break; 
            case 'Adios': %> <% for(var i=0; i < Times; i++) { %>
            <li>Adios <%= ID %></li>
            <% } %> 
            <% break; 
            case 'Bienvenido': %> <% for(var i=0; i < Times; i++) { %>
            <li>Bienvenido <%= ID %></li>
            <% } %> <% break; 
            default: %> <% for(var i=0; i< Times; i++) { %>
            <li><%= Msg %> <%= ID %></li>
            <% } %>
            <h3></h3>
            <% break; } %>
    </ul>
</body>
</html>